/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Londrina+Solid&family=Poppins&family=Raleway&family=Roboto&display=swap');
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Poppins', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Roboto', sans-serif;
/* Imports */

/* Start Variables */
$main-color: #f6c71e;
$bg-color: #000;
$bg-color-gray: #0f0f0f;
$text_p_color: #888c8c;
$bg-color-white: #f6f6f6;
/* End Variables */

/* Start Body */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: $bg-color;
}
::-webkit-scrollbar-thumb {
  background: $text_p_color;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End Body */

/* Start Homepage */
.homepage {
  /* Start Navbar */
  .navbar {
    height: 5rem;
    .navbar-brand {
      height: 10rem;
      z-index: -1;
    }
    .collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: 1.2rem;
            margin-left: 1.3rem;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            font-weight: bold;
            &:hover {
              transform: translateY(-7px) scale(1.1);
              color: $bg-color-white;
              -webkit-transform: translateY(-7px) scale(1.1);
              -moz-transform: translateY(-7px) scale(1.1);
            }
          }
          .active-link {
            color: $bg-color-white;
            text-decoration: underline;
          }
        }
      }
    }
  }
  /* End Navbar */

  /* Start Home */
  .home {
    color: $main-color;
    .coding:before,
    .tools:before,
    .services:before {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      background: url('../../../assests/shapes/bg-stars.svg') no-repeat center;
      background-size: cover;
      width: 100%;
      height: 100%;
      content: '';
    }

    /* Start Coding */
    .coding {
      z-index: 10;
      .info {
        p {
          font-family: 'Raleway', sans-serif;
        }
      }
    }
    /* End Coding */

    /* Start Tools */
    .tools {
      z-index: 10;
      margin-bottom: 7rem;
      .waviy {
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
        span {
          position: relative;
          display: inline-block;
          color: $bg-color-white;
          text-transform: uppercase;
          animation: waviy 1s infinite;
          animation-delay: calc(0.1s * var(--i)) !important;
          -webkit-animation: waviy 1s infinite;
        }
      }
      .techs {
        margin-top: 5rem;
        .icon {
          i {
            font-size: 5rem;
            margin-bottom: 3.5rem;
            transition: transform 0.2s;
            -webkit-transition: transform 0.2s;
            -moz-transition: transform 0.2s;
            &:hover {
              transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
            }
          }
        }
      }
    }
    /* End Tools */

    /* Start Services */
    .services {
      z-index: 10;
      color: $bg-color;
      .shadows {
        background: $main-color;
        padding: 1rem 0;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
      }
      .holder {
        margin-top: 5rem;
        .service {
          margin-bottom: 4rem;
          background-color: $bg-color-white;
          padding: 0;
          border-radius: 1rem;
          -webkit-border-radius: 1rem;
          -moz-border-radius: 1rem;
          .icon {
            border-radius: 1rem 0 0 1rem;
            -webkit-border-radius: 1rem 0 0 1rem;
            -moz-border-radius: 1rem 0 0 1rem;
            background-color: $main-color;
            font-size: 5rem;
            padding: 1rem 0;
          }
          i {
            color: $bg-color !important;
          }
        }
      }
    }
    /* End Services */
  }
  /* End Home */
}
/* End Homepage */

/* Start MediaQueries */
@media screen and (max-width: 768px) and (min-width: 426px) {
  /* Start Homepage */
  .homepage {
    /* Start Home */
    .home {
      /* Start Coding */
      .coding {
        text-align: center;
      }
      /* End Coding */
      /* Start Services */
      .services {
        .shadows {
          width: 40% !important;
        }
        .holder {
          .service {
            .icon {
              font-size: 3rem;
            }
            .col-9 {
              font-size: 1.4rem !important;
              text-align: center;
            }
          }
        }
      }
      /* End Services */
    }
    /* End Home */
  }
  /* End Homepage */
}

@media screen and (max-width: 425px) {
  /* Start Homepage */
  .homepage {
    /* Start Navbar */
    .navbar {
      margin-top: -2rem;
      padding: 0 1rem 0 0;
      .collapse {
        background: $bg-color-gray !important;
      }
    }
    /* End Navbar */
    /* Start Home */
    .home {
      /* Start Coding */
      .coding {
        text-align: center;
        .info {
          margin-bottom: 3rem;
        }
      }
      /* End Coding */
      /* Start Tools */
      .tools {
        margin-bottom: 3rem;
        .techs {
          .icon {
            width: 50%;
          }
        }
      }
      /* End Tools */
      /* Start Services */
      .services {
        .shadows {
          width: 90% !important;
        }
        .holder {
          .col {
            display: none;
          }
          .service {
            width: 90% !important;
            margin: 0 auto 3rem;
            .icon {
              font-size: 3rem;
            }
            .col-9 {
              text-align: center;
            }
          }
        }
      }
      /* End Services */
    }
    /* End Home */
  }
  /* End Homepage */
}
/* End MediaQueries */

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
  }
}
