<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kamel Amen || Frontend & UI Developer</title>
    <link
      rel="shortcut icon"
      href="../../../assests/logo/logo.png"
      type="image/x-icon"
    />
    <!-- Importing fontawesome library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- Importing Bootstrap library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="./skills.css" />
    <link rel="stylesheet" href="../../loader.css" />
  </head>
  <body>
    <!-- Start Body -->
    <div class="homepage w-100 h-auto">
      <!-- Start Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark container">
        <a class="navbar-brand" href="./index.html">
          <img
            class="w-100 h-100"
            src="../../../assests/logo/KAMEL.gif"
            alt="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../../index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active-link" href="./skills.html">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../projects/projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../certificates/certificates.html"
                >Certificates</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contact/contact.html">Contact Me</a>
            </li>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      <!-- Start Home -->
      <div class="home overflow-hidden">
        <!-- Start Coding Section -->
        <div class="coding row m-auto container pt-5">
          <div class="info col-lg-6 col-sm-12 pt-5">
            <p class="mb-5 fs-3 fw-bold" id="wanna-text"></p>
            <a href="../contact/contact.html" class="btn btn-lg btn-warning"
              >Contact Me</a
            >
          </div>
          <div class="image col-lg-6 col-sm-12">
            <img
              class="w-100 h-100"
              src="../../../assests/coding.gif"
              alt="gif"
            />
          </div>
        </div>
        <!-- End Coding Section -->

        <svg
          class="mt-5 pt-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#f6c71e"
            fill-opacity="1"
            d="M0,64L1440,128L1440,0L0,0Z"
          ></path>
        </svg>

        <!-- Start Tools Section -->
        <div class="tools container text-center">
          <div class="waviy position-relative mb-5 fs-1">
            <span style="--i: 1">T</span>
            <span style="--i: 2">E</span>
            <span style="--i: 3">C</span>
            <span style="--i: 4">H</span>
            <span style="--i: 5">N</span>
            <span style="--i: 6">O</span>
            <span style="--i: 7">L</span>
            <span style="--i: 8">O</span>
            <span style="--i: 9">G</span>
            <span style="--i: 10">I</span>
            <span style="--i: 11">E</span>
            <span style="--i: 12">S</span>
          </div>
          <div class="techs row" id="techs"></div>
        </div>
        <!-- End Tools Section -->

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill="#f6c71e"
            fill-opacity="1"
            d="M0,128L1440,64L1440,0L0,0Z"
          ></path>
        </svg>

        <!-- Start Services Section -->
        <div class="services container">
          <header class="shadows text-center m-auto w-25 fs-1 fw-bold">
            SERVICES
          </header>
          <div class="holder row">
            <!-- Start Service 1 -->
            <div class="service col-md-5 col-xxl-12 row">
              <div
                class="col-3 d-flex justify-content-center align-items-center icon"
              >
                <i
                  class="fa-solid fa-screwdriver-wrench"
                  style="color: #f6c71e"
                ></i>
              </div>
              <div
                class="col-9 d-flex justify-content-center align-items-center fs-2"
              >
                Building Websites
              </div>
            </div>
            <!-- End Service 1 -->
            <div class="col"></div>
            <!-- Start Service 2 -->
            <div class="service col-md-5 col-xxl-12 row">
              <div
                class="col-3 d-flex justify-content-center align-items-center icon"
              >
                <i class="fa-solid fa-pen-to-square" style="color: #f6c71e"></i>
              </div>
              <div
                class="col-9 d-flex justify-content-center align-items-center fs-4"
              >
                Updating & Editing Websites
              </div>
            </div>
            <!-- End Service 2 -->
            <!-- Start Service 3 -->
            <div class="service col-md-5 col-xxl-12 row">
              <div
                class="col-3 d-flex justify-content-center align-items-center icon"
              >
                <i class="fa-solid fa-bug-slash" style="color: #f6c71e"></i>
              </div>
              <div
                class="col-9 d-flex justify-content-center align-items-center fs-2"
              >
                Debugging
              </div>
            </div>
            <!-- End Service 3 -->
            <div class="col"></div>
            <!-- Start Service 4 -->
            <div class="service col-md-5 col-xxl-12 row">
              <div
                class="col-3 d-flex justify-content-center align-items-center icon"
              >
                <i class="fa-solid fa-pen-ruler" style="color: #f6c71e"></i>
              </div>
              <div
                class="col-9 d-flex justify-content-center align-items-center fs-2"
              >
                Designing
              </div>
            </div>
            <!-- End Service 4 -->
          </div>
        </div>
        <!-- End Services Section -->
        <!-- End Home -->
      </div>
      <div
        class="loader position-fixed top-0 start-0 d-flex justify-content-center align-items-center"
      ></div>
    </div>
    <!-- End Body -->

    <!-- Importing Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../../script.js"></script>
    <script src="./skills.js"></script>
  </body>
</html>
