<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kamel Amen || Frontend & UI Developer</title>
    <link
      rel="shortcut icon"
      href="../../../assests/logo/logo.png"
      type="image/x-icon"
    />
    <!-- Importing fontawesome library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- Importing Bootstrap library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="./certificates.css" />
    <link rel="stylesheet" href="../../loader.css" />
  </head>
  <body>
    <!-- Start Body -->
    <div class="homepage w-100 h-100">
      <!-- Start Navbar -->
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
          <a class="navbar-brand" href="../../../index.html">
            <img
              class="w-100 h-100"
              src="../../../assests/logo/KAMEL.gif"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="../../../index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../skills/skills.html">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../projects/projects.html"
                  >Projects</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active-link"
                  href="../certificates/certificates.html"
                  >Certificates</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../contact/contact.html"
                  >Contact Me</a
                >
              </li>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->

        <!-- Start Certificates -->
        <div class="certificates container">
          <div class="row m-0 mt-5">
            <!-- Neuronetix Certificate -->
            <section class="col-sm-12 col-md-6 text-center">
              <header class="fs-2 text-danger mb-3">
                Training Certificate
                <i class="fa-solid fa-certificate text-light"></i>
              </header>
              <p class="text-white fs-3">
                6/10/2024 <i class="fa-solid fa-calendar-days"></i>
              </p>
              <p class="text-danger fs-2">
                Neuronetix <i class="fa-solid fa-building ms-1 text-white"></i>
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-danger btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#neuronetix_certificate"
              >
                Preview Certificate
                <i class="fa-solid fa-magnifying-glass ms-1"></i>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="neuronetix_certificate"
                tabindex="-1"
                aria-labelledby="neuronetix_certificateLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5"
                        id="neuronetix_certificateLabel"
                      >
                        Training Certificate
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body bg-dark">
                      <div class="w-100 h-100">
                        <img
                          src="/assests/certificates/certificate057000.jpg"
                          alt="NEURONETIX Certificate"
                          class="w-100 h-100"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- itSharks Certificate -->
            <section class="col-sm-12 col-md-6 text-center">
              <header class="fs-2 text-danger mb-3">
                Frontend Diploma Certificate
                <i class="fa-solid fa-certificate text-light"></i>
              </header>
              <p class="text-white fs-3">
                6/6/2024 <i class="fa-solid fa-calendar-days"></i>
              </p>
              <p class="text-danger fs-2">
                it Sharks <i class="fa-solid fa-building ms-1 text-white"></i>
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-danger btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#itSharks_certificate"
              >
                Preview Certificate
                <i class="fa-solid fa-magnifying-glass ms-1"></i>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="itSharks_certificate"
                tabindex="-1"
                aria-labelledby="itSharks_certificateLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5"
                        id="itSharks_certificateLabel"
                      >
                        Frontend Diploma Certificate
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body bg-dark">
                      <div class="w-100 h-100">
                        <img
                          src="/assests/certificates/R-1560.png"
                          alt="Frontend Diploma Certificate"
                          class="w-100 h-100"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <!-- End Certificates -->
      <div
        class="loader position-fixed top-0 start-0 d-flex justify-content-center align-items-center"
      ></div>
    </div>
    <!-- End Body -->

    <!-- Importing Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="../../script.js"></script>
    <script src="./contact.js"></script>
  </body>
</html>
